<%= content_for :title do %>
    My habr - Main Publication
<% end %>

<%= link_to "Мои посты", my_posts_path  %>
<%= link_to "Черновики", drafts_posts_path  %>
<%= link_to "На модерации", moderation_posts_path  %>

<%= link_to 'New puplishing', new_post_path, class: 'btn btn-primary' %>


<h1>List Posts</h1>

<%= render @posts %>


<br>

