<h1><%= @post.title %></h1>

<p><%= @post.body %></p>

<p>
  <strong>Tags: </strong>
  <% unless @post.categories.empty? %>

    <%= @post.categories_titles %>
<% else %>
    <p>Choose Tag</p>

<% end %>
</p>

<% if @post.user.present? %>
    <p>
      <strong>Автор:</strong>
      <%= @post.user.email %>
    </p>
<% end %>

<h3>Comments</h3>
<% unless @post.comments.empty? %>

    <%= render @comments %>
<% else %>
    <p>There is no Comments</p>
<% end %>

<h4>New Comment</h4>
<%= render 'comments/form' %>


<% if current_user && current_user.owner_of?(@post)  %>
    <%= link_to 'Edit Post', edit_post_path(@post) %> |
    <%= link_to 'Delete Post', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

