<div class="container col-lg-12">

  <div class="row">
    <h2><%= link_to post.title, post %></h2>
  </div>

  <div class="row">
    <p><%= truncate(post.body, length: 200) %></p>
    <p><%= link_to 'Read more...', post %></p>
  </div>

  <div class="row">
    <p>Tags: <%= post.categories_titles %></p>
  </div>
  <hr>

  <% if user_signed_in? %>
      <% if current_user.owner_of?(post) %>
        <td><%= link_with_icon :pencil, edit_post_path(post), title: 'Edit' %></td>
        <td><%= link_with_icon 'trash-o', post, title: 'Delete', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
      <td>
        <% if current_user.subscribed_to?(post) %>
          <%= link_to 'Unsubscribe', current_user.subscription_for(post), method: :delete%>
        <% else %>
            <%= link_to 'Subscribe', post_subscriptions_path(post), method: :post %>
        <% end %>
      </td>
  <% end %>

</div>
