<%= content_for :title do %>
    My habr - Main Publication
<% end %>

<%= link_to t('.link_my'), my_posts_path  %> |
<%= link_to t('.link_draft'), drafts_posts_path  %> |
<%= link_to t('.link_moder'), moderation_posts_path  %>

<%= link_to 'New puplishing', new_post_path, class: 'btn btn-primary' %>


<h1><%= t('.list') %></h1>

<%= render @posts %>


<br>

